@model IEnumerable<MiniHbys.Entity.Patient>
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm(actionName: "ListPatient", controllerName: "Patient", routeValues: null, FormMethod.Post))
{
    <table id="tbl1" class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>SURNAME</th>
                <th>GENDER</th>
                <th>BLOODGROUP</th>
                <th>BİRTHDATE</th>
                <th>ACTİON</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <th>@item.PatientID</th>
                    <td>@item.PatientName</td>
                    <td>@item.PatientSurname</td>
                    <td>@item.PatientGender</td>
                    <td>@item.BloodGroup</td>
                    @* <td>@item.BirthDate</td> *@
                    <td class="ml-1">@(((DateTime)item.BirthDate).ToString("yyyy-MM-dd"))</td>
                    <td>
                        <a href="/Patient/DeletePatient/@item.PatientID" class="btn btn-danger">SİL</a>
                        <a href="/Patient/DetailPatient/@item.PatientID" class="btn btn-success">GÜNCELLE</a>
                    </td>
                </tr>

            }
        </tbody>
    </table>


}
