@model IEnumerable<MiniHbys.Entity.Patient>
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("UpdatePatient", "Patient", FormMethod.Post))
{
    @foreach (var item in Model)
    {
        <div class="form-group">
            @* PatientID için *@
            @Html.Label("PatientID", "Patient ID")
            @Html.TextBox("PatientID", item.PatientID, new { @class = "form-control", @readonly = "readonly" })

            @* Diğer özellikler için benzer şekilde *@
            @Html.Label("PatientName", "Patient Name")
            @Html.TextBox("PatientName", item.PatientName, new { @class = "form-control" })

            @Html.Label("PatientSurname", "Patient Surname")
            @Html.TextBox("PatientSurname", item.PatientSurname, new { @class = "form-control" })

            @Html.Label("PatientGender", "Patient Gender")
            @Html.TextBox("PatientGender", item.PatientGender, new { @class = "form-control" })

            @Html.Label("BloodGroup", "Blood Group")
            @Html.TextBox("BloodGroup", item.BloodGroup, new { @class = "form-control" })

            @Html.Label("BirthDate", "Birth Date")
            @Html.TextBox("BirthDate", item.BirthDate, new { @class = "form-control" })
        </div>
        <div>
            <button class="btn btn-success" href="/Patient/UpdatePatient/@item.PatientID">Güncelle </button>
        </div>
    }
}